$primary-color-light: #d8d8eb;
$primary-color-dark: #030b34;
$background-color-light: #d9dae7;
$background-color-dark: #1f1b24;
$primary-font:'PT Serif',
'Garamond',
'Georgia',
serif;
$secondary-font: 'Courier New',monospace;

// Default (light mode) styles

body {
    background-color: $background-color-light;
    font-weight: 100;
    color: $primary-color-dark;
    font-family: $primary-font;
    font-size: 20px;
    word-break: break-word;
    line-height: 1.5em;
    padding: 1em;
    margin: auto;
    max-width: 52em;
    .title-img {
            display: inline; // Hide the default image in dark mode
        }
    
        .dark-mode-img {
            display: none; // Show the dark mode image
        }
}

.dark-mode-toggle {
    background-color: $background-color-dark;
    color: $primary-color-light;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

// Dark mode styles
body.dark-mode {
    background-color: $background-color-dark;
    color: $primary-color-light;
    .title-img {
            display: none; // Hide the default image in dark mode
        }
    
    .dark-mode-img {
            display: inline; // Show the dark mode image
        }
}

.dark-mode-toggle.dark-mode {
    background-color: $background-color-light;
    color: $primary-color-dark;
}
.date{
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0.5em;
}
.article-title{
    font-family:$secondary-font;
    &:hover {
            text-decoration: underline;
        }
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        width: 100%;
        margin-bottom: 1em;        

        &:last-child {
            margin-bottom: 0;
        }

        h2 {
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
            margin-top: 0;
            font-size: 0.7em;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
    }
}

// Navbar styles
.nav-right {
    display: flex;
    justify-content: flex-end; // Positions navbar on the right

    ul {
        list-style: none;
        padding: 0;
        margin-right: 10px;

        li {
            display: inline-block;
            margin-right: 10px;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.nav-left {
    display: flex;
    justify-content: flex-start; // Positions navbar on the right

    ul {
        list-style: none;
        padding: 0;
        margin-right: 10px;

        li {
            // display: inline-block;
            margin-right: 10px;

            a {
                color: inherit;
                text-decoration: none;
                font-size: 1.4em;
            }
        }
    }
}

.title-img {
    height: 25px;
    width: 25px;
    margin-right: 12px;
}

.dark-mode-img {
    height: 25px;
    width: 25px;
    margin-right: 12px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}